* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: slateblue;
}

img {
    visibility: hidden;
}

:root {
    --cursor-style: default;
}

#main-screen {
    --border-style: solid; 
    border: 5px var(--border-style) lightgreen;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    --dimension: 800px;
    width: var(--dimension);
    height: var(--dimension);
    
    border-radius: 20%;

    cursor: var(--cursor-style);
}
  